@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

.pageGift{
    height: 100vh;
    background:#15324c ;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    color: #ffffff;
} 

.containerBack{
    margin-left: 1em; 
    margin-top: 1.5em;

}

.back{
    height: 2em;
    width: 2em;

    background-image: url('./assets/items_img/arrrowback.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

}

.msg, .alias, .alias_{
    color: #fff;
    text-align: center;
    padding: 1em;
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.msg{
    font-size: 1em;

}



.alias{

    margin-top: 3vh;
    font-size: 1.2em;
}

.alias_{
    padding: 0;
    font-weight: 900; 
}

.listGift{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-inline: 3em; 
    padding-top: 1em;
} 
 


.item {
    width: 100%;
    display: flex;
}

.line{
    width: 40%;
    height: 2px;
    background-color: #ffffff;
    
}
.left {
    flex-direction: row;
    
}
  
.right {
    flex-direction: row-reverse;
}

.gift{
    height: 10vh;
    width: 100%;
    color: #ffffff;  
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-direction: row-reverse;

} 
.imgRight,.imgLeft, .nameLeft,.nameRight{
    display: flex;
    justify-content: center;
}

.imgRight{
    align-items: center;
    border-left:#ffffff solid .05em  ;
    box-sizing: border-box;
    background-size: 6.5vh;
}

.imgLeft{
    border-right:#ffffff solid .05em ;
    align-items: center;
    box-sizing: border-box;
    background-size: 6.5vh;
} 

.nameLeft, .nameRight{
    text-align: center;
    font-size: 1em;
    overflow: hidden; /* Oculta el desbordamiento del texto */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...)  al final del texto truncado */
    direction: ltr;
}

.nameRight{
    border-right:#ffffff solid .05em ;

}
.nameLeft{
    border-left:#ffffff solid .05em ;
    
}

.textBox{
    border-bottom: #ffffff solid .05em;
    height: 50%;
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: center;
}

