@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

.container{
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: .5em; 
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.date{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
}

.boxDate{
    background: rgba(0, 0, 0, 0.719);
    box-sizing: border-box;
    text-align: center;
    padding-inline: 1em;
    padding-top:    .5em;
    padding-bottom: 1em;
    border-radius: .5em;
}

.giftList{
    color: white;
}
.btn{
    background: rgba(0, 0, 0, 0.719);

    text-decoration: none;
    color: white;
    
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em ;
    border-radius: .5em;

}


.num{
    font-size: 1.2em;
}

.text, .num{
    text-align: center;

}