@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

.erizo{
    height: 8em;
    width:  8em;
    background-image: url('../assets/erizoloader.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: beat 0.7s infinite ease-in-out;
}


.loader{
    font-size: .8em;
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-style: normal;
 
}

@keyframes beat {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
